h4, p { margin:0;}
h1 {text-align: center;}

.container {
	position: relative;
}
input#heading-text, textarea#sub-heading-text { width:100%; }
textarea#sub-heading-text { height:120px;}

#flashcard {
	width: 600px;
	height: 300px;
	border: 1px solid #000;
	margin: 0 auto;
	margin-top:20px;
	text-align:center;
	position:relative;
}
/*
#heading {
	position:absolute;
	top:150px;
	height:100px;
	width:80%;
	left:50%;
	margin-left:-40%;
	font-size:32px;
}*/

#navigation {
	text-align: center;
}

#menu{
	position:absolute;
	top:0;
	left:10px;
	width:150px;
}

#display-answer, .subheading {
	display:none;
}
#display-answer {
	position: absolute;
	top: 150px;
	left:50%;
	margin-left:-100px;
	width:200px;
}